<!DOCTYPE html>
{% extends 'base.html'  %}



<html lang="fr">

{% block title %} Connexion au blog {% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12 mt-5">
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger text-center"><strong>{{message}}</strong></div>
          {% endfor %}
          {% endif %}
          <form action="" method="POST">{% csrf_token %}
   	        <div class="card mb-3">
   	            <div class="card-header text-center">
   	 	           <i class="fas fa-user">connexion au blog</i>
                </div>
                <div class="card-body">
                	<label for="id_username">Nom Utilisateur</label>
                	{{form.username}}

                	<label for="id_pwd">Mot de Passe</label>

                	{{form.pwd}}
                <div class="card-footer">
                	<button class="btn btn-primary btn-block ">Se Connecter</button>
                </div>
            </div>
           </form>
        </div>
    </div>

{% endblock %}
</html>