<!DOCTYPE html>
{% extends 'base.html'  %}
{% load static %}
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}

<h1 class="text-center mt-3">Resultat de la recherche</h1>

<div class="container">
  <div class="row">
     {% for article in article  %}
    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card  mb-3 p-2" >
        {% if article.image == "http://default" %}  
          <a href="{% url 'detail' article.id %}"><img src="{% static 'img/index.png' %}" class="card-img-top"alt="..."
            style="height: 200px;" /></a>
        
        {% else %}
          <a href="{% url 'detail' article.id %}"><img src="{{article.image.url}} "class="card-img-top"alt="..."
          style="height: 200px;" /></a> 
        {% endif  %}
        <div class="card-body" style="height: 240px;">
          <h4 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h4>
          <p class="card-text">{{article.detail|truncatewords:8}}</p>
          <p class="card-text">publié il y'a {{article.creer_le|timesince}}</p>
          <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire la Suite</a>
        </div>
      </div>
    </div>
     {% endfor %}
  </div>
</div>
{% endblock %}
</body>
</html>